pycache
pycache/
app (nowe).py
app2.py
appcheck.py
app_copy.py
appcomparable.py
classes_check.py
classes_comp.py
comparison.py
__pycache__
dane.json
dane2.json
database.py
database_comp.py
database_copy.py
dbcheck.py
guest_reservation(copy).html
guest_reservation(old, personal_data).js
new_reservations(copy).js
old.css
oldscript.js
reservation(old).js
restauracja copy.db
restauracja.db
schemas(copy).py
schemas_check.py
schemas_comp.py
temporary.py
testing.py
venv
venv/
__pycache__/
venv/
dane.json
dane2.json
additional_sql_scripts.ipnyb
raport_bledow.txt
comparison.py
