
/* Części głowne */

.top-index {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 42px;
}

.middle {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    line-height: 4;
    margin-bottom: 80px;
}

.options {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    line-height: 4;
}

.nav-list
{
    padding: 10px 2px;
    font-family: "PlayfairDisplay";
    font-size: 30px;
}


.nav-item {
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ------ */


/* Loga i style*/

.description {
    font-family: "PlayfairDisplay";
    font-size: 30px;
    text-align: center;
    font-style: italic;
}


a {
  color: #000;
  text-decoration: none;
  text-decoration: underline;

}

/* ------ */

/** Responsywnosc */

@media screen and (max-width: 768px){
    header{
        height: auto;

    }
    .top {
        display: block;
    }
    .nav-link {
        display: block;
        height: auto;
    }
}
