/* Czesci glowne */

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-column {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}


.form-column label {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.form-column input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px dashed #444;
    outline: none;
}


/* ------ */


/* Style */



a {
  color: #000;
  text-decoration: none;
  text-decoration: underline;

}

.pass_rec {
  font-family: "PlayfairDisplay";
   font-size: 20px;
   text-align: center;
   margin-bottom: 100px;
   font-style: italic;


}


.login-button {
    display: block;
    margin: 0 auto 0 auto;
    font-family: "PlayfairDisplay";
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    border: 3px solid black;
}

/* ------ */



/** Responsywność */

@media screen and (max-width: 768px) {

    .form-column {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        max-width: 400px
    }

    .form-column input {
        width: 100%;
    }
}
