/* Czesci glowne */

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    flex-wrap: wrap;
}


.form-column {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.form-column label {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.form-column input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px dashed #444;
    outline: none;
}



checkbox-row {
    display: flex !important;
    align-items: flex-start;
    gap: 10px;
    width: 350px;
}

.checkbox-row input {
    flex-shrink: 0;
    margin-top: 4px;
}


/* ------ */


/* Style */

.form-template {
    font-family: "PlayfairDisplay";
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin: 5px;
}

.required-fields-text {
    font-family: "PlayfairDisplay";
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin-left: 800px;
}


a {
  color: #000;
  text-decoration: none;
  text-decoration: underline;

}

.checkbox-row p {
    margin: 0;
    font-family: "PlayfairDisplay";
    font-size: 18px;
    line-height: 1.3;
    font-style: normal;
    text-align: left;
    white-space: normal;
}


.registration-button {
    display: block;
    margin: 70px auto 0 auto;
    font-family: "PlayfairDisplay";
    width: 400px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    border: 3px solid black;
}

/* ------ */



/** Responsywność */

@media screen and (max-width: 768px) {

    .form-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .form-column {
        width: 100%;
        max-width: 400px;
    }

    .form-column input {
        width: 100%;
    }

    .checkbox-row {
        width: 100%;
        max-width: 400px;
    }
}
