/* Czesci glowne */

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 250px;
}


.form-column {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0 auto;
}


.form-column label {

    display: flex;
    flex-direction: column;
}


.form-column input {

    max-width: 350px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #444;
    outline: none;
    background-color: #E8E8E8;
}

.checkbox-row {
    display: flex !important;
    align-items: center;
    gap: 10px;
    width: 350px;
    text-align: center;
    flex-direction: column;
}

.checkbox-row input {
    flex-shrink: 0;
    margin-top: 4px;
}


/* ------ */

/* Style */

.form-template {
    font-family: "PlayfairDisplay";
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin: 5px;
}

.required-fields-text {
    font-family: "PlayfairDisplay";
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin-left: 800px;
}


a {
  color: #000;
  text-decoration: none;
  text-decoration: underline;

}

.checkbox-row p {
    margin: 0;
    font-family: "PlayfairDisplay";
    font-size: 18px;
    line-height: 1.3;
    font-style: normal;
    text-align: center;
    white-space: nowrap;

}


.reservation-button {
    display: block;
    margin: 0 auto 40px auto;
    font-family: "PlayfairDisplay";
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    border: 3px solid black;
}

.tableID-button {
    display: block;
    margin: 20px auto 0 auto;
    font-family: "PlayfairDisplay";
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    border: 3px solid black;
}


.table-scroll {
  width: 100%;
  max-height: 320px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* płynne przewijanie na iOS */
}

.table-id-selection {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 650px;
  margin-bottom: 20px;

}

.table-id-selection th,
.table-id-selection td {
  border: 2px solid #000;
  font-family: "PlayfairDisplay";
  padding: 12px;
}

/* ------ */


/** Responsywność */

@media screen and (max-width: 768px) {

    .form-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .form-column {
        width: 100%;
        max-width: 400px;
    }

    .form-column input {
        width: 100%;
    }

    .checkbox-row {
        width: 100%;
        max-width: 400px;
    }

    .checkbox-row p {
    font-size: clamp(1rem, 2vw + 0.5rem, 2.5rem);
    white-space: normal;
    }
}
