<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bieżące rezerwacje</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/active_reservations.css">
</head>
<body>
    <header>
        <a class="return" href="/index">Powrót</a>
        <div class="top">
            <div class="logo">
                <img src="/static/images/Logo.png" alt="logo">
            </div>
            <div class="name">Restauracja<br>XYZ
            </div>
            <div class="margin_top">
                <p class="name_2">est. 1990</p>
            </div>
            </div>
    </header>
    <p class="name_3">Bieżące rezerwacje</p>
    <div id="filters" class="filters">
    <label>
        <input type="text" id="filter-firstName"><br>
        <p>Imię</p>
    </label>
    <label>
        <input type="text" id="filter-lastName">
        <p>Nazwisko:</p>
    </label>
    <label>
        <input type="date" id="filter-date">
        <p>Data:</p>
    </label>
    <label>
        <input type="time" id="filter-startTime">
        <p>Godzina rozpoczęcia:</p>
    </label>
    <label>
        <input type="time" id="filter-endTime">
        <p>Godzina zakończenia:</p>
    </label>
    <select id="filter-status" class="status-button">
        <option value="">Wszystkie</option>
        <option value="new">Nowe</option>
        <option value="confirmed">Zaakceptowane</option>
        <option value="cancelled">Anulowane</option>
        <option value="cancelled">2</option>
    </select>

    <button id="apply-filters" class="filter-button">Filtruj</button>
</div>

    <section id="active_reservations" class="active_reservations">
      <table id="reservations-table" class="reservations-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data</th>
            <th>Godzina rozpoczęcia</th>
            <th>Godzina zakończenia</th>
            <th>Ilość osób</th>
            <th>Status</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <div id="edit-modal" style="display:none;">
        <form id="edit-form">
          <input type="hidden" name="id" id="edit-id">
          <label>Data: <input type="date" id="edit-date"></label>
          <label>Godzina rozpoczęcia: <input type="time" id="edit-time-start"></label>
          <label>Godzina zakończenia: <input type="time" id="edit-time-end"></label>
          <label>Osoby: <input type="number" id="edit-people"></label>
          <button type="submit" class="filter-button">Zapisz</button>
          <button type="button" id="close-modal">Zamknij</button>
        </form>
      </div>
</section>
<script src="../static/script.js"></script>
</body>
</html>