<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dane osobowe</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/guest_reservation.css">
</head>
<body>
    <header>
        <a class="return" href="/index">Powrót</a>
        <div class="top">
            <div class="logo">
                <img src="/static/images/Logo.png" alt="logo">
            </div>
            <div class="name">Restauracja<br>XYZ
            </div>
            <div class="margin_top">
                <p class="name_2">est. 1990</p>
            </div>
            </div>
    </header>

    <form for id="reservation_form" method="post">
        <section id="step1" class="step active">
            <p class="name_3">Dane osobowe</p>
            <div class="form-container1">
                <div class="form-column1">
                    <label>
                        <input type="text" name="first_name" required>
                        <p class="form-template">Imię*</p>
                    </label>
                    <label>
                        <input type="email" name="email" required>
                        <p class="form-template">Email*</p>
                    </label>
                </div>

                <div class="form-column1">
                    <label>
                        <input type="text" name="last_name" required>
                        <p class="form-template">Nazwisko*</p>
                    </label>

                    <label>
                        <input type="number" name="phone_number" required>
                        <p class="form-template">Numer telefonu*</p>
                    </label>
                </div>
            </div>
            <button id="go_to_reservation" type="button">Dalej</button>
                Dalej
            </button>
        </section>
</form>
<script src="/static/js/personal_data.js"></script>
</body>
</html>