<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja stolików</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/reservation.css">
</head>
<body>
<header>
    <a class="return" href="/user_account">Powrót</a>
    <div class="top">
        <div class="logo">
            <img src="/static/images/Logo.png" alt="logo">
        </div>
        <div class="name">Restauracja<br>XYZ
        </div>
        <div class="margin_top">
            <p class="name_2">est. 1990</p>
        </div>
    </div>
</header>
<section id="reservation_container" class="reservation_container">
        <p class="name_3">Reservation</p>
            <form id="reservation_form">
                <div class="form-column">
                    <label for="startTime">
                        <input type="date" id="date" required>
                        <p class="form-template">Data*</p>
                    </label>
                    <div class="form-container">
                    <label for="startTime">
                        <input type="time" id="startTime" required>
                        <p class="form-template">Czas rozpoczęcia*</p>
                    </label>
                    <label for="endTime">
                        <input type="time" id="endTime" required>
                        <p class="form-template">Czas zakończenia*</p>
                    </label>
                    </div>
                    <label for="number_of_people">
                        <input type="number" id="number_of_people" required>
                        <p class="form-template">Ilość ludzi*</p>
                    </label>
                    <div class="form-column">

                        <button type="button" id="tableID-button" class="tableID-button">
                            Znajdź stoliki
                        </button>
                        <div class="table-scroll">
                        <section id="table_selection" class="table_selection">
                          <table id="table-id-selection" class="table-id-selection">
                            <thead>
                              <tr>
                                <th>Stolik</th>
                                <th>Numer stolika</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                        <div class="form-container">
                            <label for="endTime">
                                <input type="number" id="tableID" required>
                                <p class="form-template">Numer stolika*</p>

                            </label>
                        </div>
                    </div>
                    <div class="form-container">
                        <label for="accept_rules" class="checkbox-row">
                            <input type="checkbox" id="accept_rules" required>
                            <p class="form-template">Akceptuję <a href="/rules">regulamin</a> Restauracji*</p>
                        </label>
                        <label for="agree_to_contact" class="checkbox-row">
                            <input type="checkbox" id="agree_to_contact">
                            <p>Wyrażam zgodę na kontakt telefoniczny bądź mailowy w celu obsługi mojej rezerwacji.</p>
                        </label>
                    </div>
                    <label for="user_type">
                        <input type="hidden" id="user_type" value="2">
                    </label>
                    <button type="submit" id="reservation_button" class="reservation-button">
                    Zarezerwuj stolik
                    </button>
                <p class="required-fields-text">*pola obowiązkowe</p>
            </form>
    </section>
    <script src="/static/js/reservation.js"></script>
</body>
</html>

