<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/reservation_accepted.css">
</head>
<body>
    <header>
        <a class="return" href="/index">Powrót</a>
        <div class="top">
            <div class="logo">
                <img src="/static/images/Logo.png" alt="logo">
            </div>
            <div class="name">Restauracja<br>XYZ
            </div>
            <div class="margin_top">
                <p class="name_2">est. 1990</p>
            </div>
            </div>
    </header>
    <div id="success_message" class="success_message">
        <p class="description">
           DZIĘKUJEMY ZA REZERWACJĘ<br></p>
        <p class="description">Poniżej przesyłamy szczegóły</p><br>
    <div class="card">
      <p>Imię i nazwisko: <span id="full_name" class="line"></span></p>
      <p>Data: <span id="reservation_date" class="line"></span></p>
      <p>Godzina rozpoczęcia: <span id="start_time" class="line"></span></p>
      <p>Godzina zakończenia: <span id="end_time" class="line"></span></p>
    </div>

    <div class="final_message">
    <p>Potwierdzenie prześlemy również na adres mailowy</p>
    <p>DO ZOBACZENIA!</p>
    </div>
    <pre style="color:red; font-size:16px;">
    </pre>
    <script src="/static/js/reservation_accepted.js"></script>
</body>
</html>