<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ strona startowa</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <a class="return" href="/index">Powrót</a>
        <div class="top">
            <div class="logo">
                <img src="/static/images/Logo.png" alt="logo">
            </div>
            <div class="name">Restauracja<br>XYZ
            </div>
            <div class="margin_top">
                <p class="name_2">est. 1990</p>
            </div>
            </div>
    </header>
    <p class="name_3">Regulamin</p>
    <p class="rules_header">1. Postanowienia ogólne</p>
    <p class="rules">a) Aplikacja umożliwia dokonywanie rezerwacji stolików w Restauracji XYZ zarówno użytkownikom posiadającym konto (Zalogowanym), jak i użytkownikom bez konta (Gościom).<br>
    b) System dostępny jest dla Użytkowników w trybie 24/7, umożliwiając składanie rezerwacji online bez bezpośredniego udziału pracownika.<br>
    c) Reset hasła do konta klienta jest możliwy tylko podczas osobistej wizyty w placówce<br>
    </p>
    <p class="rules_header">2. Zasady dokonywania rezerwacji<br></p>
    <p class="rules">a) W celu dokonania rezerwacji Użytkownik wskazuje termin oraz liczbę osób, a system automatycznie przydziela pierwszy wolny stolik dostępny w wybranym czasie.<br>
    b) Po złożeniu rezerwacji otrzymuje ona status "oczekująca". Ostatecznym potwierdzeniem przyjęcia rezerwacji jest zatwierdzenie jej przez pracownika i wiadomość e-mail wysłana do Użytkownika.<br>
    c) W przypadku braku wolnych miejsc lub innych przeszkód operacyjnych, personel restauracji zastrzega sobie prawo do odrzucenia rezerwacji, o czym Klient zostanie niezwłocznie poinformowany.<br>
    </p>
    <p class="rules_header">3. Odwoływanie i modyfikacja rezerwacji<br></p>
    <p class="rules">a) Użytkownik ma prawo do samodzielnej modyfikacji (zmiana daty, godziny, liczby osób) lub anulowania rezerwacji poprzez Aplikację (dla zalogowanych). W przypadku rezerwacji jako GOŚĆ należy skontaktować się z pracownikiem restauracji, celem anulowania bądź modyfikacji rezerwacji.<br>
    b) Modyfikacja rezerwacji jest możliwa wyłącznie przed upływem wyznaczonego terminu granicznego i skutkuje ponowną weryfikacją dostępności stolików.<br>
    c) Restauracja zastrzega sobie prawo do anulowania rezerwacji w sytuacjach wyjątkowych, takich jak awaria lokalu.<br>
    </p>
    <p class="rules_header">4. Ochrona prywatności i RODO<br></p>
    <p class="rules">a) Administratorem danych osobowych jest Restauracja XYZ. Dane przetwarzane są zgodnie z RODO w celu realizacji usługi rezerwacji.<br>
    b) W przypadku Gości (Klientów niezalogowanych), dane wykorzystywane są wyłącznie do obsługi bieżącej rezerwacji i nie jest dla nich tworzona trwała historia w systemie.<br>
    </p>
</body>
</html>